# created by virtualenv automatically
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/

# Flask-specific
instance/
*.db
*.sqlite3

# Environment and config
*.env

# Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

